<div class="input">
  <%= label_tag "survey[#{question.key}]", question.text %>
  <ul class="usa-unstyled-list">
    <%- question.choices.each do |choice| %>
    <li class="radio">
      <%- option_id = "#{question.key}-#{choice.value}" %>
      <%= radio_button_tag "survey[#{question.key}]", choice.value, false, id: option_id %>
      <%= label_tag option_id, choice.label %>
    </li>
    <%- end %>
  </ul>
</div>
