<div class="input">
  <%= form.label question.key, question.text %>
  <ul class="usa-unstyled-list">
    <%- question.choices.each do |choice| %>
    <li class="radio">
      <%- option_id = "#{question.key}-#{choice.value}" %>
      <%= form.check_box question.key, {id: option_id}, choice.value %>
      <%= form.label choice.label, for: option_id %>
    </li>
    <%- end %>
  </ul>
</div>
